* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: white;
    position: relative;
    width: 40px;
    height: 630px;
}

.bar {
    position: absolute;
}

.bar li {
    margin-left: 8px;
    margin-top: 45px;
}

.bar li i {
    color: black;
}

.main-container{
    position: absolute;
    left: 45px;
    top: 0px;
    height: 100%;
    width: 99%;
}

.disc-container {
    position: relative;
    background-color:gray;
    width: 100%;
    height: 300px;
}

.disc-container img {
    padding: 25px;
}

.song-details {
    position: absolute;
    top: 25px;
    left: 320px;
    width: 50%;
    color: white;
}

.song-details h1 {
    font-weight: lighter;
    padding-bottom: 10px;
}

.song-details b {
    font-weight: 200;
    padding-bottom: 3px;
}

.disc-actions {
    position: absolute;
    left: 320px;
    top: 250px;
    color: white;
}

.none {
    list-style: none;
}

.list-inline {
    display: inline;
    padding-right: 40px;
}

.media-container {
    position: relative;
    top: 20px;
    margin-left: 10px;
    width: 99%;
    border-collapse: collapse;
}


.media-details td {
    padding: 10px;

}

.other {
    background-color:rgb(235, 233, 233);
}

.link a {
    border: 1.5px solid gray;
    text-decoration: none;
    color: blue;
    margin-left:200px;
}

.media-player {
    background-color: rgb(6, 181, 240);
    position: fixed;
    top: 85%;
    width: 100%;
    height: 115px;
}

.media-player img {
    max-width:85px;
    padding: 8px;
}


.media-player ul li {
    margin-left:100px;
}

.media-player ul {
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
}

.song-name {
    position: absolute;
    top: 20px;
    left: 110px;
    color: white;
}

.song-name b {
    padding-bottom:15px;
    font-weight: 100;
}


